body {
  background: url('images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

#container {
  height: 800px;
  width: 800px;

  margin: 0 auto;
}

#board {
  display: block;
  margin: auto;
}

.clickable {
  cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
  font-family: "Digital-7";
  src: url('digital-7.regular.ttf');
}

#streak {
  font-family: 'Digital-7';
  font-size: 40px;
  color: red;
}

#logo {
  font-family: 'Righteous', cursive;
  font-size: 52px;
  color: rgb(208,209,208);
}

.textButtons {
  font-family: 'Hind', sans-serif;
  font-size: 13px;
}

h1 {
  font-family: 'Digital-7';
  font-size: 50px;
  color: rgb(208,209,208);
}
